<h2>Authetifizierung</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group mb-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Benutzername</mat-label>
      <input
        matInput
        type="text"
        placeholder="Benutzername"
        required
        formControlName="username"
      />
      <mat-error *ngIf="checkForm('username', 'required')"
        >Bitte den Benutzernamen eingeben</mat-error
      >
      <mat-error *ngIf="checkForm('username', 'pattern')"
        >Bitte einen gültigen Namen eingeben</mat-error
      >
      <mat-error *ngIf="checkForm('username', 'maxlength')"
        >Der Benutzername ist mehr als
        {{ usernameMaxLength }} Zeichen</mat-error
      >
    </mat-form-field>
  </div>

  <div class="form-group mb-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Passwort</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        placeholder=""
        required
      />

      <mat-error *ngIf="checkForm('password', 'required')">
        Bitte das Passwort eingeben
      </mat-error>
      <mat-error *ngIf="checkForm('password', 'maxlength')"
        >Das Passwort ist mehr als {{ passwordMaxLength }} Zeichen</mat-error
      >
    </mat-form-field>
  </div>

  <div class="form-group mb-6">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="w-full"
      [disabled]="form.invalid || form.untouched"
      [disableRipple]="form.invalid"
    >
      login
    </button>
  </div>
</form>
