<section class="text-gray-800 dark:text-gray-100 text-center grid lg:grid-cols-2 p-11">
  <div class="px-6 py-12 md:px-12 shadow-2xl bg-slate-50 dark:bg-black mr-16"> 
    <app-login-form
      @fadeInOut
      *ngIf="!(isAuthenticated$ | async)"
      [hidden]="isLoading$ | async"
    ></app-login-form>
    
    <div class="spinner-container" *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    
    <app-upload-form
      *ngIf="(isAuthenticated$ | async) && !(machines$ | async)"
    ></app-upload-form>
    
    <ng-container *ngIf="machines$ | async" @slideInOut>
      <app-machines @fadeInOut></app-machines>
    </ng-container>
  </div>

  <app-terminal @fadeInOut></app-terminal>

  <noscript>
    <p class="dark:text-gray-300" style="text-align: left">
      Sie haben derzeit JavaScript deaktiviert.
      <a href="https://turnonjs.com" class="dark:text-blue-400">Aktivieren Sie JavaScript</a>
    </p>
  </noscript>
</section>
