<section class="text-gray-800 text-center grid lg:grid-cols-2 p-11">
  <div class="px-6 py-12 md:px-12 shadow-2xl bg-slate-50 mr-16">
    <!-- <div class="md:mt-12 mb-12"> -->
    <app-login-form
      @fadeInOut
      *ngIf="!(isAuthenticated$ | async)"
      [hidden]="isLoading$ | async"
    ></app-login-form>
    <div class="spinner-container" *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <app-upload-form
      *ngIf="(isAuthenticated$ | async) && !(machines$ | async)"
    ></app-upload-form>
    <ng-container *ngIf="machines$ | async" @slideInOut>
      <app-machines @fadeInOut></app-machines>
    </ng-container>
  </div>
  <app-terminal @fadeInOut></app-terminal>
  <!-- </div> -->
  <!-- <div class="md:mb-12 lg:mb-0"> -->

  <noscript>
    <p style="text-align: left">
      Sie haben derzeit JavaScript deaktiviert.
      <a href="https://turnonjs.com">Aktivieren Sie JavaScript</a>
    </p>
  </noscript>
  <!-- </div> -->
</section>
