<h2 class="text-gray-800 dark:text-gray-100">JSON Datei hochladen</h2>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="form-group mb-6">
    <mat-form-field style="width: 100%">
      <mat-label class="text-gray-800">Datei</mat-label>
      <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input
        type="text"
        readonly
        matInput
        [formControl]="display"
        (click)="f_input.click()"
        class="text-gray-800"
      />
      
      <input
        formControlName="file"
        type="file"
        hidden
        accept=".json"
        #f_input
        (change)="handleFileInputChange($event)"
      />
    
      <!-- Any other errors can also be handled with additional mat-error elements here -->
    </mat-form-field>  <mat-error *ngIf="sizeLimitExceeded">
        Die Gesamtgröße darf {{ MAX_SIZE_MB }} MB nicht überschreiten.
      </mat-error>
  </div>
  
  <div class="form-group mb-6">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="w-full bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-400 text-white"
      [disabled]="form.invalid"
    >
      hochladen
    </button>
  </div>
</form>
