<h2 mat-dialog-title class="dialog-title">JSON File Viewer</h2>
<mat-dialog-content>
  <ng-container *ngIf="jsonFile$ | async as jf; else noJSON">
    <ngx-json-viewer
      class="json-viewer"
      [json]="jf"
      [depth]="2"
    ></ngx-json-viewer>
  </ng-container>

  <ng-template #noJSON>
    <div class="empty-json">
      <h4>No JSON files to display yet</h4>
    </div>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions close-button " >
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
