<h2 mat-dialog-title class="dialog-title">JSON Dateibetrachter</h2>
<mat-dialog-actions class="dialog-actions close-button">
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
<mat-dialog-content class="dark:bg-black">
  <ng-container *ngIf="jsonFile$ | async as jf; else noJSON">
    <ngx-json-viewer
      class="dark:bg-black json-viewer"
      [json]="jf"
      [depth]="2"
    ></ngx-json-viewer>
  </ng-container>

  <ng-template #noJSON>
    <div class="empty-json">
      <h4>Noch keine JSON-Dateien zum Anzeigen</h4>
    </div>
  </ng-template>
</mat-dialog-content>
