
 @media (width<1000px) {
   .register-panel {
     width: 100%;
     margin-top: 56px;
   }
   .map-container {
     width: 100%;
     @apply h-[60rem] !important;
   }
   .main-section {
     margin-bottom: 1rem !important;
     padding: 2rem !important;
   }
 }
 
 