<section
  class="main-section mb-32 text-gray-800 text-center grid lg:grid-cols-2 mt-32 p-32"
>
  <style>
    .map-container {
      height: 45rem;
    }
  </style>
  <div
    class="px-6 py-12 md:px-12 shadow-2xl bg-slate-50 mr-16 mb-10 register-panel"
  >
    <div class="md:mt-12 mb-12">
      <app-login-form
        *ngIf="!(isAuthenticated$ | async)"
        [hidden]="isLoading$ | async"
      ></app-login-form>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      <ng-container *ngIf="isAuthenticated$ | async as authenticated">
        <app-upload-form ></app-upload-form>
      </ng-container>
 
    </div>
  </div>
  <div class="md:mb-12 lg:mb-0">
    <ng-terminal #terminal></ng-terminal>
    <noscript>
      <p style="text-align: left">
        Sie haben derzeit JavaScript deaktiviert.
        <a href="https://turnonjs.com">Aktivieren Sie JavaScript</a>
      </p>
    </noscript>
  </div>
</section>
