<ng-container *ngIf="machines$ | async as machines">
  <form>
    <div class="flex justify-between items-center">
      <mat-form-field class="text-gray-800 dark:text-gray-200">
        <mat-label>Maschine auswählen</mat-label>
        <mat-select
          [(ngModel)]="selectedMachine"
          name="machine"
          (selectionChange)="onSelectMachine($event.value)"
          class="text-gray-800"
        >
          <mat-option
            *ngFor="let machineId of machines | keyvalue"
            [value]="machineId.key"
            class="text-gray-800 transition duration-300"
          >
            {{ machineId.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-400 text-white transition duration-300"
        (click)="onSave(machines)"
      >
        Speichern
      </button>
      <button
        mat-raised-button
        color="primary"
        class="bg-green-600 dark:bg-green-500 hover:bg-green-700 dark:hover:bg-green-400 text-white transition duration-300"

        (click)="onSendAll(machines)"
      >
        Alle senden
      </button>
    </div>
  </form>

  <app-editor
    *ngIf="selectedMachine"
    [data]="machines[selectedMachine]"
  ></app-editor>
</ng-container>
